@{
    ViewData["Title"] = "Portfólio";
}

<div class="text-center">
    <h1 class="display-4">E além da vida profissional?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">tem um trem aqui.</a>.</p>
</div>