@model HomeModel

@{
    ViewData["Title"] = "Portfólio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, eu sou @Model.nome</h1>
    <p> Meu primeiro site em mvc.</p>

        <spam>Contato: @Model.email</spam>

</div>
